@import 'background';

.rubik{
	font-family: Rubik
}



body{
	margin: 0;
}


section{
	height: 100vh;
}

.landing{
	.outer-flex-container{
		display: flex;
		flex-direction: column;
		

		.title-container{
			
		}
	}


}