@import 'main';

.landing-team {
	@extend .landing;
	height: 65vh;

	.title{
		h1{
			margin-top: 40px;
			font-size: 100px;
		}
		.inner-text-container{
			width: 65%;

			p {
				font-size: 18px;
			}
		}
	}
	.inner-nav-flex-container{
		flex: 1;
	}
	.title{
		flex: 5;
	}
}

.mentor-blurb {
	height: 40vh;
	margin-top: 4%;
	display: flex;
	justify-content: space-between;

	p {
		font-size: 16px;
	}

	.text-container {
		flex: 9;
		position: relative;

		h3{
			@extend h3;
			margin: 0px 0px 15px 0px;
		}

		.button{
			@extend .button;
		}
	}

	.space{
		flex: 1;
		position: relative;
	}
}

.mentor-profiles {
	// height: auto;
	margin: -40px 3% 0 6%;

	figure {
		vertical-align: text-top;
		text-align: center;
		display: inline-block;
		margin: 5px 1% 20px 1%;
		max-width: 180px;

		img {
			width: 120px;
			height: auto;
			margin: 0px 0px 8px 0px;
		}

		figcaption {
			@extend .cabin;
			font-size: 14px;
		}
	}
}


.partners {
		text-align: center;
		margin: 40px 0px 0px 0px;

		h3 {
			margin: 0px 0px -5px 0px;
		}

		img {
			margin: 15px 25px 15px 25px;
			height: auto;
			width: 250px;
		}
}


@media (max-width: 900px){
	.landing-team{
		.title{
			flex: 3;

			h1{
				font-size: 80px;
			}		
		}
		.inner-text-container{
			p{
				font-size: 14px !important;
			}
		}

	}
	.block-section{
		p{
			font-size: 13px;
		}
	}

	.mentor-blurb {
		height: 52vh;
		.text-container {
			p {
				font-size: 14px;
			}
		}
	}

	.mentor-profiles {
		figure {
			margin: 5px 1% 20px 1%;
			max-width: 160px;

			img {
				width: 80px;
			}
		}
	}
}

@media (max-width: 500px){
	.landing-team{
		height: 80vh;
		.title{
			h1{
				font-size: 48px;
			}
			.inner-text-container{
				width: 90%;
			}
		}

	}
	.block-section{
		.text-container{
			order: 1;
		}
		.partners-container, .mentors2-container{
			order: 2;
		}
		.space{
			order: 3;
		}
	}

	.mentor-profiles {
		text-align: center;
		
		figure {
			margin: 5px 1% 20px 1%;
			max-width: 160px;

			img {
				width: 80px;
			}
		}
	}
}