<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Startup Labs</title>
    <link rel="stylesheet" type="text/css" href="../public/css/application.css">
    <style>
    </style>
  </head>
  <body>
  <!-- <div class="background-grid">
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
  </div> -->
  <section class="landing-application">
    <div class="outer-flex-container">
      <div class="inner-nav-flex-container">
        <ul>
          <a href="/"><img src="../public/assets/images/startup-lag-logo.png"></a>
          <li><a href="/">Program</a></li>
          <li><a href="/startups">Startups</a></li>
          <li><a href="/team">Our Team</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      
      <div class="title">
        <h4>Looking to join Startup Labs?</h4>
        <div class="button-container">
          <a href=""><div class="button">APPLY HERE</div></a>
        </div>
      </div>

    </div>
  </section>
  </body>
</html>