<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Startup Labs</title>
    <link rel="stylesheet" type="text/css" href="../public/css/contact.css">
    <style>
    </style>
  </head>
  <body>
  <div class="background-grid">
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
  </div>
  <section class="landing">
    <div class="outer-flex-container">
      <div class="inner-nav-flex-container">
        <ul>
          <div class = "box-header"></div>
          <li><a href="/">Program</a></li>
          <li><a href="/startups">Startups</a></li>
          <li><a href="/team">Our Team</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="title">
        <h1>CONTACT US</h1>
        <div class="inner-text-container">
          <h3 class="apps"> Applications open at the start of the Fall quarter!</h3>
          <h3>Contact us at</h3>
          <a href="mailto:startuplabs@bruinentrepreneurs.org" target="_top"><h3>startuplabs@bruinentrepreneurs.org</h3></a>
        </div>
      </div>
    </div>
  </section>
  </body>
</html>