<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bruin Entrepreneurs</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/converted.css">
    <style>

    </style>
  </head>
  <body>
  
  <div class="background-grid">
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
  </div>

  <section class = "landing">
    <div class="outer-flex-container">
      <div class="inner-nav-flex-container">
        <ul>
          <div class = "box-header"></div>
          <li><a href="">Program</a></li>
          <li><a href="">Startups</a></li>
          <li><a href="">Our Team</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>


      <div class="title-container">
        <h2><span>BRUIN</span>ENTREPRENEURS presents</h2>
        <h1>STARTUP LABS</h1>
      </div>
    </div>
  </section>
  <section class = "about">
    <div class ="image-filter"></div>
    <div class="text-container-outer">
      <div class ="text-container-inner">
        <h3>ABOUT STARTUP LABS</h3>
        <p>Startup Labs is a program that helps to foster students' startup ideas.  We work with students to create an environment that provides innovative students feedback and guidance for their pursuit of specific entrepreneurial endeavors.</p>
        <p>Each quarter, we welcome a new collborate cohort into the program and guide them to success through workshops, close mentorship, and social events.</p>
        <p>Startup Labs is dedicated to fostering entrepreneurial spirit and engagement at UCLA, and with our resources and network of successful entrepreneurs and investors, Startup Labs aims to grow ideas into reality.</p>
      </div>      
    </div>
  </section>

  <section class = "program">
    <div class="left-container">
      <h3>THE PROGRAM</h3>
      <p>Our quarter long program will consist of weekly meetings dedicated to business development and improving your ideas.  During these weekly meetings, we will have interactive and informative sessinos along with a collborative workshopace to allow your ideas to flourish.</p>
      <p>Our curriculum will cover concepts of idea generation, basic finance, market analysis, along with other entrepreneurial topics necessary to drive innovation and entrepreneurial growth.  Additionally, members will have access to an array of resources and guidance, and be able to netweork with a group of like minded entrepreneurs.</p>
      <button>PROGRAM DETAILS</button>
    </div>
    <div class="right-container">
      
    </div>
  </section>



  </body>
</html>