<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bruin Entrepreneurs</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/converted.css">
    <style>

    </style>
  </head>
  <body>
  
  <div class="background-grid">
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
  </div>

  <section class = "landing">
    <div class="outer-flex-container">
      
      <div class="title-container">
        <h1>BRUIN E</h1>
      </div>
    </div>
  </section>
  <section class = "landing">
    <div>
      
    </div>
  </section>  
  <section class = "landing">
    <div>
      
    </div>
  </section>



  </body>
</html>