<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bruin Entrepreneurs</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="../public/css/responsive.css">
    
    <style>

    </style>
  </head>
  <body>
    <div class = "landing-page">
      <div class = "left-align">
        <div class = "header-container">
          <h1>WE ARE</h1>
          <h2>BRUIN<span style = "color: #ffffff">ENTREPRENEURS.</span></h2>
          <button id = "join-button">LEARN MORE</button>
        </div>
      </div>

      <div class = "right-align">
<!--         images go here-->      
      </div>
    </div>



    <div class = "second-page">
      <div class = "left-align">

      </div>
      <div class = "right-align">
        <div class = "text-box">
          <h3>BRUIN ENTREPRENEURS IS</h3>
          <p>
            Bruin Entrepreneurs was created in 2012 to promote entrepreneurialism at UCLA. We organize three main programs every year, each with their respective boards: LA Hacks, bVentures, and Creative Labs. Along with these, we host entrepreneurial-related networking events, workshops, and speaker nights every week, designed to spark innovative dialogue between a diverse group of students.
          </p>
          <p>
            Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.  Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
          </p>
        </div>
      </div>

    </div>


    <div class = "third-page">

      <div class = "rectangle-container">

        <a href="http://uclacreatives.github.io/">
          <div class = "rectangleCL wide">
            <h4>CREATIVE</h4>
          </div>
          <div class = "rectangleCL">
            <h4>LABS</h4>
          </div>
        </a>

      </div>

      <a href="https://lahacks.com/">
       <div class = "rectangleLAHACKS">
          <h4>LA HACKS</h4>
        </div>   
      </a>


      <div class = "rectangleBVEN">
        <h4>BVENTURES</h4>
      </div>

      <div class = "join-us-box">
        
         <h5>JOIN US.</h5>

      </div>

    </div>


    <div class = "footer">
    </div>


  </body>
</html>