<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup Labs</title>
    <link rel="stylesheet" type="text/css" href="../public/css/startup.css ">
    <script src="https://use.fontawesome.com/a2c590765e.js"></script>
  </head>
  <body>
  
<!--   <div class="background-grid">
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
  </div> -->

  <section class ="landing-startups">
    <div class="outer-flex-container">
      <div class="inner-nav-flex-container">
        <ul>
          <a href="/"><img src="../public/assets/images/startup-lag-logo.png"></a>
          <li><a href="/">Program</a></li>
          <li><a href="/startups">Startups</a></li>
          <li><a href="/team">Our Team</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="title">
        <h1>THE STARTUPS</h1>
      </div>
      <div class="bottom-flex-container">
        <div class="navy-bar">        </div>
        <div class="text-container">
          <h2>FEATURED STARTUP</h2>
          <h4>PLAYFULL</h3>
          <p>Playfull is an app where you can play games anytime, anywhere and get real rewards.  They've partnered with Subway, Chick-fil-A, Denny's, Coffee Bean and more.  Their games include mini-games similar to Candy Crush and a geolocation-based scavenger hunt similar to Poekmon GO.</p>
          <p>They have also attended Startup UCLA's summer accelerator and have made it into Techstar LA's class of fall 2017.  Learn more about them at <a href="http://www.beplayfull.com">beplayfull.com</a></p>

          <h5>Quote on Startup Labs:</h5>
          <p>"Startup Labs was a tremendous help.  The resources, mentors, and surrounding community played a crucial role during a crucial time in PlayFull's history." Patrick Lu, CEO PlayFull</p>
        </div>
        <div class="image-container">
          <!-- <img src="../public/assets/images/startups-playfull.png"> -->
        </div>
      </div>
    </div>
  </section>

  <section class="cohorts">
    <div class="cohort1">
      <div class="title-container">
        <h4>PAST STARTUPS</h4>
      </div>
      <div class="outer-profile-container">

        <div class="profile-container">
          <div class="rect-image-container">
<!--             <div class="circle-image-container">
            </div> -->
            <img src="../public/assets/images/startups/startups-mech.png">
          </div>

          <div class="text-container">
            <h5>Mechanodontics</h5>
            <p>At Mechanodontics we are making a new type of braces for orthodontic treatment. Everything we do is focused on helping you achieve your perfect smile in a shorter time, with less pain, and also without anyone knowing you are wearing braces!
            They recently won first place in the Lowell Milken Institute Sandler Prize for New Entrepreneurs, receiving $70,000 to create their product.
            </p>
          </div>
        </div>

        <div class="profile-container">
          <div class="rect-image-container">
<!--             <div class="circle-image-container">
            </div> -->
            <img src="../public/assets/images/startups/startups-pluto.png">
          </div>
          <div class="text-container">
            <h5>Pluto</h5>
            <p>Pluto is on a mission to pioneer a next-generation Personal Financial Management (PFM) platform for millennials. Millennials are spending more money than ever and are really bad at saving. There are no good solutions out there, and Pluto aims to change that. Pluto is a mobile app that makes achieving financial goals easy, made for millennials and built by millennials.
            Learn more about them at https://www.gopluto.io/
            </p>
          </div>
        </div> 

        <div class="profile-container">
          <div class="rect-image-container">
<!--             <div class="circle-image-container">            
            </div> -->
            <img src="../public/assets/images/startups/startups-bear-care.png">
          </div>
          <div class="text-container">
            <h5>Bear Care</h5>
            <p>Bear Care is a babysitting agency that aims to match caring, hardworking, and passionate UCLA student babysitters with families in the UCLA community and in surrounding neighborhoods. Through an intricate and thorough interview process, we find the most responsible and attentive students on campus. We are dedicated to providing both part time jobs to UCLA students and easy access to child care for families in the greater Westwood area.</p>
          </div>
        </div>

        <div class="profile-container">
          <div class="rect-image-container">
<!--             <div class="circle-image-container">
              </div> -->
            <img src="../public/assets/images/startups/startups-whos-got-game.png">
          </div>
          <div class="text-container">
            <h5>Who’s Got Game?</h5>
            <p>"Who's Got Game?" iOS application is Yelp meets TV Guide for Sports Fans. We help you find the best place to watch the game you want to see, help you get there and enhance your experience when you arrive.
            They recently came in Runner Up at The 2016 App Idea Awards in New York City (hosted by General Assembly, Samsung, Greycroft, Norwest) out of over 600 competitors from around the world. The venture has gained two new senior advisors: an executive at Warner Brothers and a former CTO of the Sundance Institute. WGG is also partnering with local venue chain Rocco's Tavern, which opened a second location in the heart of Westwood. Founder C.J. LongHammer is a 2nd year MFA graduate student in UCLA's TFT Program. Learn more about them at we-game.com</p>
          </div>
        </div>

        <div class="profile-container">
          <div class="rect-image-container">
<!--             <div class="circle-image-container">
            </div> -->
            <img src="../public/assets/images/startups/mindful-music.png">
          </div>
          <div class="text-container">
            <h5>Mindful Music</h5>
            <p>MindFul Music cultivates a high level of wellness through live musical experience. ​ ​By bringing out local talent into ​community spaces, accessing live music won’t be a hassle​ or exclusive event. ​An interdisciplinary ​start up, MindFul Music is designed​ as​ powerful remedy ​to ​all​i​evat​e high stress levels, enrich​​​​ community connections, and cultivate an uplifting environment​. Currently the ​start up​ is adopted by the Semel Institute for Neuroscience and Human Behavior and the ​UCLA ​Healthy Campus Initiative​ aiming to foster a healthy campus environment for students, staff, and faculty, and​ ​expand​ into new environments​.​ MindFul Music strives to be a force of change bridging the​ healing power of ​music and arts​ into daily life. ​</p>
          </div>
        </div>

        <div class="profile-container">
          <div class="rect-image-container">
<!--             <div class="circle-image-container">
            </div> -->
            <img src="../public/assets/images/startups/eden.png">
          </div>
          <div class="text-container">
            <h5>Eden</h5>
            <p>Eden is a social support network for people with similar chronic afflictions to be able to connect with one another, share their experiences, ask questions, and find quality answers that are moderated by health professionals. Through forming these communities, people can obtain quality support when they need it the most.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

    <div class="footer">
      <div class="logo">
        <a href="http://bruinentrepreneurs.org"><span id="navy"> BRUIN</span><span> ENTREPRENEURS </span></a>
        <div class="love">Made with <i class="fa fa-heart-o" aria-hidden="true"></i> in Los Angeles </div>
      </div> 
    </div>
  </body>
</html>