<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Startup Labs</title>
    <link rel="stylesheet" type="text/css" href="../public/css/converted.css">
    <style>

    </style>
  </head>
  <body>
  
  <div class="background-grid">
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
  </div>




  </body>
</html>