<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Startup Labs</title>
    <link rel="stylesheet" type="text/css" href="../public/css/convertstartup.css">
    <style>

    </style>
  </head>
  <body>
  
  <div class="background-grid">
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
  </div>

  <section class = "landing">
    <div class="outer-flex-container">
      <div class="inner-nav-flex-container">
        <ul>
          <div class = "box-header"></div>
          <li><a href="/">Program</a></li>
          <li><a href="/startups">Startups</a></li>
          <li><a href="/team">Our Team</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="title">
        <h1>THE STARTUPS</h1>
      </div>
      <div class="bottom-flex-container">
        <div class="navy-bar">        </div>
        <div class="text-container">
          <h2>FEATURED STARTUP</h2>
          <h4>PLAYFUL</h3>
          <p>Playfull is an app where you can play games anytime, anywhere and get real rewards.  They've partnered with Subway, Chick-fil-A, Denny's, Coffee Bean and more.  Their games include mini-games similar to Candy Crush and a geolocation-based scavenger hunt similar to Poekmon GO.</p>
          <p>They have also attended Startup UCLA's summer accelerator and have made it into Techstar LA's class of fall 2017.  Learn more abou tthem at <a href="http://www.beplayfull.com">beplayfull.com</a></p>

          <h5>Quote from Startup UCLA site:</h5>
          <p>"Startup Labs was a tremendous help.  The resources, mentors, and surrounding community played a crucial role during a crucial time in PlayFull's history." Patrick Lu, CEO PlayFull</p>
        </div>
        <div class="image-container">
          
        </div>
      </div>
    </div>
  </section>

  <section class="cohorts">
    <div class="cohort1">
      <div class="title-container">
        <h4>STARTUP COHORT #1</h4>
      </div>


      <div class="outer-profile-container">

        <div class="profile-container">
          <div class="rect-image-container">
            <div class="circle-image-container">
              
            </div>
          </div>

          <div class="text-container">
            <h5>Name</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div>
        <div class="profile-container">
          <div class="rect-image-container">
            <div class="circle-image-container">
              
            </div>
          </div>

          <div class="text-container">
            <h5>Name</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div> 
        <div class="profile-container">
          <div class="rect-image-container">
            <div class="circle-image-container">
              
            </div>
          </div>

          <div class="text-container">
            <h5>Name</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div>
        <div class="profile-container">
          <div class="rect-image-container">
            <div class="circle-image-container">
              
            </div>
          </div>

          <div class="text-container">
            <h5>Name</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div> 
      </div>



    </div>



    <div class="cohort2">
      <div class="title-container">
        <h4>STARTUP COHORT #2</h4>
      </div>


      <div class="outer-profile-container">
      
        <div class="profile-container">
          <div class="rect-image-container">
            <div class="circle-image-container">
              
            </div>
          </div>

          <div class="text-container">
            <h5>Name</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div>
        <div class="profile-container">
          <div class="rect-image-container">
            <div class="circle-image-container">
              
            </div>
          </div>

          <div class="text-container">
            <h5>Name</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div> 
        <div class="profile-container">
          <div class="rect-image-container">
            <div class="circle-image-container">
              
            </div>
          </div>

          <div class="text-container">
            <h5>Name</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div>
        <div class="profile-container">
          <div class="rect-image-container">
            <div class="circle-image-container">
              
            </div>
          </div>

          <div class="text-container">
            <h5>Name</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div> 
      </div>



    </div>
  </section>

  </body>
</html>