<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Startup Labs</title>
    <link rel="stylesheet" type="text/css" href="../public/css/team.css">
    <script src="https://use.fontawesome.com/a2c590765e.js"></script>
  </head>
  <body>
  
  <div class="background-grid">
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
    <div class = "gray-bar"></div>
  </div>

  <section class="landing-team">
    <div class="outer-flex-container">
      <div class="inner-nav-flex-container">
        <ul>
          <div class = "box-header"></div>
          <li><a href="/">Program</a></li>
          <li><a href="/startups">Startups</a></li>
          <li><a href="/team">Our Team</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="title">
        <h1>THE TEAM</h1>
        <div class="inner-text-container">
          <p>Startup Labs has a strong network of entrepreneurs which it actively works to connect.  Through mentorship, startup tours, and office hours, students will bea ble to ineract with our network.  From the other student entrepreneurs, to seasoned entrepreneurs in Silicon Beach, students can expect to receive support and advice from a variety of sources.</p>          
        </div>

      </div>
    </div>
  </section>



  <section class="block-section">
    <div class="text-container">
      <h3>MENTORS</h3>
      <p>Startup Labs aims to provide each team with a strong support network to aid them every step of the way.  Students will be paired with an individual mentor with whom they will be able to be in contact with throughout the program.  After the initial meeting, students will be able to reconnect weekly with their mentors during 'office hours' sessions via Skype.  During 'office hours', aspiring entrepreneurs will be able to gain valuable advice, contacts, and further insight from their mentors.</p>
    </div>
    <div class="space"></div>
    <div class="mentors2-container">
      <p class="vignette"></p>
    </div>
  </section>

  <div class="partners">
    <h3>PARTNERS</h3>
  </div>
  
    <div class="footer">
      <div class="logo">
        <span id="navy"> BRUIN</span><span> ENTREPRENEURS </span>
        <div class="love">Made with <i class="fa fa-heart-o" aria-hidden="true"></i> in Los Angeles </div>
      </div> 
    </div>

  </body>
</html>