<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup Labs</title>
    <link rel="stylesheet" type="text/css" href="../public/css/team.css">
    <script src="https://use.fontawesome.com/a2c590765e.js"></script>
  </head>
  <body>

  <section class="landing-team">
    <div class="outer-flex-container">
      <div class="inner-nav-flex-container">
        <ul>
          <a href="/"><img src="../public/assets/images/startup-lag-logo.png"></a>
          <li><a href="/">Program</a></li>
          <li><a href="/startups">Startups</a></li>
          <li><a href="/team">Our Team</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="title">
        <h1>THE TEAM</h1>
        <div class="inner-text-container">
          <p>Startup Labs has a strong network of entrepreneurs which it actively works to connect.  Through mentorship, startup tours, and office hours, students will bea ble to ineract with our network.  From the other student entrepreneurs, to seasoned entrepreneurs in Silicon Beach, students can expect to receive support and advice from a variety of sources.</p>          
        </div>
      </div>
    </div>
  </section>

  <section class="mentor-blurb">
    <div class="text-container">
      <h3>MENTORS</h3>
      <p>Startup Labs aims to provide each team with a strong support network to aid them every step of the way.  Students will be paired with an individual mentor with whom they will be able to be in contact with throughout the program.  After the initial meeting, students will be able to reconnect weekly with their mentors during 'office hours' sessions via Skype.  During 'office hours', aspiring entrepreneurs will be able to gain valuable advice, contacts, and further insight from their mentors.</p>
    </div>
    <div class="space"></div>
  </section>

  <div class="mentor-profiles">
      <figure>
          <img src='../public/assets/images/mentors/levi-brooks.png'/>
          <figcaption> <b>Levi Brooks</b> <br>
        CEO and Co-founder of Use All Five</figcaption>
      </figure>
      <figure>
          <img src='../public/assets/images/mentors/mike-townsend.png'/>
          <figcaption><b> Mike Townsend </b><br>
        Founder of HomeHero</figcaption>
      </figure>
      <figure>
          <img src='../public/assets/images/mentors/matthew-arevalo.png' />
          <figcaption> <b>Matthew Arevalo </b><br>
        Co-founder and Chief Experience Officer at Loot Crate
    </figcaption>
      </figure>
      <figure>
          <img src='../public/assets/images/mentors/matthew-manos.png'/>
          <figcaption> <b>Matthew Manos</b> <br>
         Founder & Managing Director @ verynice</figcaption>
      </figure>
            <figure>
          <img src='../public/assets/images/mentors/john-tabis.png' />
          <figcaption><b>John Tabis</b> <br>
        Founder & CEO @ The Bouqs Company
</figcaption>
      </figure>
            <figure>
          <img src='../public/assets/images/mentors/william-hsu.png'/>
          <figcaption><b>William Hsu</b><br>
        Co-founder & Managing Partner @ Mucker Capital
</figcaption>
      </figure>
            <figure>
          <img src='../public/assets/images/mentors/alon-shwartz.png'  />
          <figcaption><b>Alon Shwartz</b> <br>
        Founder & CEO @ unGlue</figcaption>
      </figure>
            <figure>
          <img src='../public/assets/images/mentors/greg-blackman.png' />
          <figcaption><b>Greg Blackman</b> <br>
         Co-founder & SVP @ Bidfluence</figcaption>
      </figure>
            <figure>
          <img src='../public/assets/images/mentors/erick-miller.png'/>
          <figcaption><b>Erick Miller</b><br>
         Founder & Managing Director @ Hyperspeed Ventures
</figcaption>
      </figure>
            <figure>
          <img src='../public/assets/images/mentors/eric-pakravan.png'  />
          <figcaption><b>Eric Pakravan</b> <br>
        Senior Associate @ Amplify.LA</figcaption>
      </figure>
      <figure>
          <img src='../public/assets/images/mentors/joe-guzel.png'  />
          <figcaption><b>Joe Guzel</b> <br>
        Associate @ Crosscut Ventures</figcaption>
      </figure>
  </div>

    <div class="partners">
      <h3>PARTNERS</h3>
      <img src="../public/assets/images/partners/team-aws.png">
      <img src="../public/assets/images/partners/team-amplify.png">
      <br>
      <img src="../public/assets/images/partners/team-cooley.png">
      <img src="../public/assets/images/partners/team-pasadena-angels.png">
      <img src="../public/assets/images/partners/team-vc-fund.png">
      <br>
      <img src="../public/assets/images/partners/team-startup-ucla.png">
    </div>

    <div class="footer">
      <div class="logo">
        <a href="bruinentrepreneurs.org"><span id="navy"> BRUIN</span><span> ENTREPRENEURS </span></a>
        <div class="love">Made with <i class="fa fa-heart-o" aria-hidden="true"></i> in Los Angeles </div>
      </div> 
    </div>
  </body>
</html>