.background-grid {
  margin: 0 10% 0 10%;
  height: 100%;
  width: 80%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: -1; }

.gray-bar {
  height: 100%;
  width: 100px;
  background-color: rgba(196, 196, 196, 0.3);
  margin: 0px 15px 0px 15px;
  z-index: -1; }
  .gray-bar:last-child {
    margin-right: 0px; }
  .gray-bar:first-child {
    margin-left: 0px; }

.footer {
  width: 100vw;
  height: 100px;
  overflow: hidden;
  text-align: center;
  background-color: #527EDD;
  z-index: 3; }
  .footer #navy {
    color: #072956; }
  .footer .links {
    display: flex;
    display: -webkit-flex;
    letter-spacing: .5px; }
    .footer .links a {
      flex: 1; }
  .footer .logo {
    margin: 20px 0px 0px 0px;
    color: #000000; }
    .footer .logo span {
      font-size: 26px; }

.rubik, h1, .landing .outer-flex-container .title-container h1, .landing-team .outer-flex-container .title-container h1, h3, .program .text-container h3, .mentors .text-container h3, .block-section .text-container h3, .button, .program .text-container .button, .mentors .text-container .button, .block-section .text-container .button, .landing .outer-flex-container .inner-nav-flex-container ul li a, .landing-team .outer-flex-container .inner-nav-flex-container ul li a {
  font-family: 'Rubik', sans-serif; }

.cabin, p {
  font-family: 'Cabin', sans-serif; }

.pink, h1, .landing .outer-flex-container .title-container h1, .landing-team .outer-flex-container .title-container h1 {
  color: #F2758F; }

.blue, .landing .outer-flex-container .title-container h2, .landing-team .outer-flex-container .title-container h2 {
  color: #527EDD; }

.navy, h3, .program .text-container h3, .mentors .text-container h3, .block-section .text-container h3, .landing .outer-flex-container .inner-nav-flex-container ul li a, .landing-team .outer-flex-container .inner-nav-flex-container ul li a {
  color: #072956; }

body {
  margin: 0; }

section {
  height: 100vh;
  width: 80%;
  margin: 0 10% 0 10%;
  position: relative; }

h1, .landing .outer-flex-container .title-container h1, .landing-team .outer-flex-container .title-container h1 {
  margin: 4px 0px 5px 0px;
  font-weight: bold; }

h3, .program .text-container h3, .mentors .text-container h3, .block-section .text-container h3 {
  font-size: 38px;
  font-weight: bold; }

p {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: .4px; }

.button, .program .text-container .button, .mentors .text-container .button, .block-section .text-container .button {
  background-color: #072956;
  color: white;
  border: 0px;
  width: 200px;
  height: 45px;
  bottom: 0px;
  position: absolute;
  font-size: 13px;
  letter-spacing: .5px;
  display: flex;
  align-items: center;
  justify-content: center; }

.image-container, .program .program-container, .mentors .program-container, .block-section .program-container, .mentors .mentors1-container, .mentors2-container, .partners-container {
  flex: 11;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }

.landing, .landing-team {
  width: 80%; }
  .landing .outer-flex-container, .landing-team .outer-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .landing .outer-flex-container .inner-nav-flex-container, .landing-team .outer-flex-container .inner-nav-flex-container {
      margin-top: 30px;
      height: 70px;
      width: 100%;
      z-index: 1; }
      .landing .outer-flex-container .inner-nav-flex-container ul, .landing-team .outer-flex-container .inner-nav-flex-container ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 30px 0px 0px;
        align-items: center; }
        .landing .outer-flex-container .inner-nav-flex-container ul li, .landing-team .outer-flex-container .inner-nav-flex-container ul li {
          list-style: none;
          overflow: hidden;
          width: fit-content; }
          .landing .outer-flex-container .inner-nav-flex-container ul li a, .landing-team .outer-flex-container .inner-nav-flex-container ul li a {
            text-decoration: none;
            font-weight: bold; }
        .landing .outer-flex-container .inner-nav-flex-container ul .box-header, .landing-team .outer-flex-container .inner-nav-flex-container ul .box-header {
          height: -webkit-fill-available;
          width: 150px;
          background-color: #C4C4C4; }
    .landing .outer-flex-container .title-container, .landing-team .outer-flex-container .title-container {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%); }
      .landing .outer-flex-container .title-container h2, .landing-team .outer-flex-container .title-container h2 {
        font: 20px 'Montserrat', sans-serif;
        margin: 5px 0px 2px 0px; }
        .landing .outer-flex-container .title-container h2 span, .landing-team .outer-flex-container .title-container h2 span {
          color: black; }
      .landing .outer-flex-container .title-container h1, .landing-team .outer-flex-container .title-container h1 {
        font-size: 130px; }

.about {
  background-image: url("../assets/images/main-ucla.png");
  height: 60vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about .image-filter {
    background-color: rgba(0, 0, 0, 0.58);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1; }
  .about .text-container-outer {
    width: 80%;
    height: 70%;
    color: white;
    z-index: 2; }
    .about .text-container-outer .text-container-inner {
      margin: -50px 0px 0px 0px;
      width: 77%; }
      .about .text-container-outer .text-container-inner h3 {
        color: white; }

.program, .mentors, .block-section {
  height: 65vh;
  display: flex;
  justify-content: space-between; }
  .program .margins, .mentors .margins, .block-section .margins, .program .image-container, .mentors .image-container, .block-section .image-container, .program .program-container, .mentors .program-container, .block-section .program-container, .mentors .mentors1-container, .program .mentors2-container, .mentors .mentors2-container, .block-section .mentors2-container, .program .partners-container, .mentors .partners-container, .block-section .partners-container, .program .text-container, .mentors .text-container, .block-section .text-container {
    margin: 60px 0px 20px 0px; }
  .program .text-container, .mentors .text-container, .block-section .text-container {
    flex: 9;
    position: relative; }
    .program .text-container h3, .mentors .text-container h3, .block-section .text-container h3 {
      margin: 0px 0px 15px 0px; }
  .program .space, .mentors .space, .block-section .space {
    flex: 1;
    position: relative; }
  .program .program-container, .mentors .program-container, .block-section .program-container {
    background-image: url("../assets/images/main-program.jpg"); }

.mentors .mentors1-container {
  background-image: url("../assets/images/main-mentors.jpg"); }

.vignette {
  position: relative;
  height: 100%;
  margin: 0px; }
  .vignette:after {
    -moz-box-shadow: inset 0 0 10em #666;
    -webkit-box-shadow: inset 0 0 10em #666;
    box-shadow: inset 0 0 10em #666;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: ""; }

@media (max-width: 1200px) {
  .landing h1, .landing-team h1, .landing .outer-flex-container .title-container h1, .landing-team .outer-flex-container .title-container h1 {
    font-size: 105px; }

  .program p, .mentors p, .block-section p {
    font-size: 12px; } }
@media (max-width: 900px) {
  .landing h1, .landing-team h1, .landing .outer-flex-container .title-container h1, .landing-team .outer-flex-container .title-container h1 {
    font-size: 75px; }

  .about h3, .about .program .text-container h3, .program .text-container .about h3, .about .mentors .text-container h3, .mentors .text-container .about h3, .about .block-section .text-container h3, .block-section .text-container .about h3 {
    font-size: 30px; }
  .about p {
    font-size: 11px; }

  .program h3, .mentors h3, .block-section h3, .program .text-container h3, .mentors .text-container h3, .block-section .text-container h3 {
    font-size: 20px; }
  .program p, .mentors p, .block-section p {
    font-size: 8px; } }
@media (max-width: 500px) {
  .landing .box-header, .landing-team .box-header {
    width: 0px !important; }
  .landing a, .landing-team a {
    font-size: 8px; }
  .landing .title-container h2, .landing-team .title-container h2 {
    font-size: 11px !important; }
  .landing .title-container h1, .landing-team .title-container h1, .landing .outer-flex-container .title-container h1, .landing-team .outer-flex-container .title-container h1 {
    font-size: 28px; }

  .about .text-container-inner {
    width: 100% !important; }
    .about .text-container-inner h3 {
      font-size: 13px; }
    .about .text-container-inner p {
      font-size: 10px; }

  .program, .mentors, .block-section {
    flex-direction: column;
    height: 85vh; }
    .program .margins, .mentors .margins, .block-section .margins, .program .image-container, .mentors .image-container, .block-section .image-container, .program .program-container, .mentors .program-container, .block-section .program-container, .mentors .mentors1-container, .program .mentors2-container, .mentors .mentors2-container, .block-section .mentors2-container, .program .partners-container, .mentors .partners-container, .block-section .partners-container, .program .text-container, .mentors .text-container, .block-section .text-container {
      margin: 20px 0px 10px 0px; }
    .program h3, .mentors h3, .block-section h3, .program .text-container h3, .mentors .text-container h3, .block-section .text-container h3 {
      margin-bottom: 5px; }

  .mentors .mentors1-container {
    order: 3; }
  .mentors .space {
    order: 2; }
  .mentors .text-container {
    order: 1; }

  .button, .program .text-container .button, .mentors .text-container .button, .block-section .text-container .button {
    width: 110px;
    height: 21px;
    font-size: 8px; }

  .space {
    flex: 0 !important; } }
.landing-team {
  height: 65vh; }
  .landing-team .title h1, .landing .outer-flex-container .title-container .landing-team .title h1, .landing-team .title .outer-flex-container .title-container h1, .landing-team .outer-flex-container .title-container .title h1 {
    margin-top: 20px;
    font-size: 100px; }
  .landing-team .title .inner-text-container {
    width: 65%; }
  .landing-team .inner-nav-flex-container {
    flex: 1; }
  .landing-team .title {
    flex: 5; }

.mentors2-container {
  background-image: url("../assets/images/team-mentors.jpg"); }

.partners-container {
  background-image: url("../assets/images/team-partners.jpg"); }

@media (max-width: 900px) {
  .landing-team .title h1, .landing .outer-flex-container .title-container .landing-team .title h1, .landing-team .title .outer-flex-container .title-container h1, .landing-team .outer-flex-container .title-container .title h1 {
    font-size: 80px; }
  .landing-team .inner-text-container p {
    font-size: 13px; }

  .block-section p {
    font-size: 13px; } }
@media (max-width: 500px) {
  .landing-team {
    height: 80vh; }
    .landing-team .title h1, .landing .outer-flex-container .title-container .landing-team .title h1, .landing-team .title .outer-flex-container .title-container h1, .landing-team .outer-flex-container .title-container .title h1 {
      font-size: 48px; }
    .landing-team .title .inner-text-container {
      width: 90%; }

  .block-section .text-container {
    order: 1; }
  .block-section .partners-container, .block-section .mentors2-container {
    order: 2; }
  .block-section .space {
    order: 3; } }
.landing, .landing-team {
  height: 100vh; }
  .landing .outer-flex-container .title .inner-text-container, .landing-team .outer-flex-container .title .inner-text-container {
    width: 100%; }
    .landing .outer-flex-container .title .inner-text-container h3, .landing-team .outer-flex-container .title .inner-text-container h3 {
      margin-bottom: 0px;
      margin-top: 5px; }

@media (max-width: 900px) {
  .title h1, .title .landing .outer-flex-container .title-container h1, .landing .outer-flex-container .title-container .title h1, .title .landing-team .outer-flex-container .title-container h1, .landing-team .outer-flex-container .title-container .title h1 {
    font-size: 55px; }

  .inner-text-container {
    text-wrap: true; }
    .inner-text-container h3, .inner-text-container .program .text-container h3, .program .text-container .inner-text-container h3, .inner-text-container .mentors .text-container h3, .mentors .text-container .inner-text-container h3, .inner-text-container .block-section .text-container h3, .block-section .text-container .inner-text-container h3 {
      font-size: 25px; } }
@media (max-width: 500px) {
  .title h1, .title .landing .outer-flex-container .title-container h1, .landing .outer-flex-container .title-container .title h1, .title .landing-team .outer-flex-container .title-container h1, .landing-team .outer-flex-container .title-container .title h1 {
    font-size: 42px; }

  .inner-text-container {
    text-wrap: true; }
    .inner-text-container h3, .inner-text-container .program .text-container h3, .program .text-container .inner-text-container h3, .inner-text-container .mentors .text-container h3, .mentors .text-container .inner-text-container h3, .inner-text-container .block-section .text-container h3, .block-section .text-container .inner-text-container h3 {
      font-size: 18px; } }

/*# sourceMappingURL=contact.css.map */
