.background-grid {
  margin: 0 10% 0 10%;
  height: 100%;
  width: 80%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 0; }

.gray-bar {
  height: 100%;
  width: 100px;
  background-color: rgba(196, 196, 196, 0.3);
  margin: 0px 15px 0px 15px; }
  .gray-bar:last-child {
    margin-right: 0px; }
  .gray-bar:first-child {
    margin-left: 0px; }

.rubik, h1, .landing .outer-flex-container .title-container h1, .outer-flex-container .title h1, h3, .program .text-container h3, .mentors .text-container h3, button, .program .text-container button, .mentors .text-container button, .landing .outer-flex-container .inner-nav-flex-container ul li a, h4, .outer-flex-container .bottom-flex-container .text-container h4, .cohorts .cohort1 .title-container h4, .cohorts .cohort2 .title-container h4, .outer-flex-container .bottom-flex-container .text-container {
  font-family: 'Rubik', sans-serif; }

.cabin, p, .outer-flex-container .bottom-flex-container .text-container p {
  font-family: 'Cabin', sans-serif; }

.pink, h1, .landing .outer-flex-container .title-container h1, .outer-flex-container .title h1 {
  color: #F2758F; }

.blue, .landing .outer-flex-container .title-container h2 {
  color: #527EDD; }

.navy, h3, .program .text-container h3, .mentors .text-container h3, .landing .outer-flex-container .inner-nav-flex-container ul li a, h4, .outer-flex-container .bottom-flex-container .text-container h4, .cohorts .cohort1 .title-container h4, .cohorts .cohort2 .title-container h4, h5, .outer-flex-container .bottom-flex-container .text-container h5, .cohorts .cohort1 .outer-profile-container .profile-container .text-container h5, .cohorts .cohort2 .outer-profile-container .profile-container .text-container h5, .outer-flex-container .bottom-flex-container .text-container h2 {
  color: #072956; }

body {
  margin: 0; }

section {
  height: 100vh;
  width: 80%;
  margin: 0 10% 0 10%;
  position: relative; }

h1, .landing .outer-flex-container .title-container h1, .outer-flex-container .title h1 {
  margin: 4px 0px 5px 0px;
  font-weight: bold; }

h3, .program .text-container h3, .mentors .text-container h3 {
  font-size: 38px;
  font-weight: bold; }

p, .outer-flex-container .bottom-flex-container .text-container p {
  font-size: 14px;
  font-weight: lighter; }

button, .program .text-container button, .mentors .text-container button {
  background-color: #072956;
  color: white;
  border: 0px;
  width: 200px;
  height: 45px;
  bottom: 0px;
  position: absolute;
  font-size: 12px; }

.landing {
  width: 80%;
  margin: 0 10% 0 10%; }
  .landing .outer-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .landing .outer-flex-container .inner-nav-flex-container {
      margin-top: 30px;
      height: 70px;
      width: 100%;
      z-index: 1; }
      .landing .outer-flex-container .inner-nav-flex-container ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 30px 0px 0px;
        align-items: center; }
        .landing .outer-flex-container .inner-nav-flex-container ul li {
          list-style: none;
          overflow: hidden;
          width: fit-content; }
          .landing .outer-flex-container .inner-nav-flex-container ul li a {
            text-decoration: none;
            font-weight: bold; }
        .landing .outer-flex-container .inner-nav-flex-container ul .box-header {
          height: -webkit-fill-available;
          width: 150px;
          background-color: #C4C4C4; }
    .landing .outer-flex-container .title-container {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%); }
      .landing .outer-flex-container .title-container h2 {
        font: 20px 'Montserrat', sans-serif;
        margin: 5px 0px 2px 0px; }
        .landing .outer-flex-container .title-container h2 span {
          color: black; }
      .landing .outer-flex-container .title-container h1 {
        font-size: 130px; }

.about {
  background-image: url("/public/assets/images/ucla.png");
  height: 50vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about .image-filter {
    background-color: rgba(0, 0, 0, 0.58);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1; }
  .about .text-container-outer {
    width: 80%;
    height: 70%;
    color: white;
    z-index: 2; }
    .about .text-container-outer .text-container-inner {
      width: 77%; }
      .about .text-container-outer .text-container-inner h3 {
        color: white; }

.program, .mentors {
  height: 50vh;
  display: flex;
  justify-content: space-between; }
  .program .margins, .mentors .margins, .program .text-container, .mentors .text-container, .program .image-container, .mentors .image-container {
    margin: 60px 0px 20px 0px; }
  .program .text-container, .mentors .text-container {
    width: 45%;
    position: relative; }
    .program .text-container h3, .mentors .text-container h3 {
      margin: 0px 0px 15px 0px; }
  .program .image-container, .mentors .image-container {
    width: 40%;
    background-color: gray; }

h4, .outer-flex-container .bottom-flex-container .text-container h4, .cohorts .cohort1 .title-container h4, .cohorts .cohort2 .title-container h4 {
  font-size: 39px; }

h5, .outer-flex-container .bottom-flex-container .text-container h5, .cohorts .cohort1 .outer-profile-container .profile-container .text-container h5, .cohorts .cohort2 .outer-profile-container .profile-container .text-container h5 {
  font-size: 16px;
  margin-bottom: 10px; }

.landing .outer-flex-container .title .title-container h1, .landing .outer-flex-container .title-container .title h1, .outer-flex-container .title h1 {
  font-size: 80px;
  margin-top: 50px;
  margin-bottom: 40px; }
.outer-flex-container .bottom-flex-container {
  display: flex;
  justify-content: space-between; }
  .outer-flex-container .bottom-flex-container .text-container {
    width: 50%; }
    .outer-flex-container .bottom-flex-container .text-container h2 {
      font-size: 19px;
      margin-bottom: 0px; }
    .outer-flex-container .bottom-flex-container .text-container h4 {
      margin-top: 3px;
      margin-bottom: 30px; }
  .outer-flex-container .bottom-flex-container .image-container {
    width: 42%;
    background-color: gray;
    margin: 10px 0 10px 0; }
  .outer-flex-container .bottom-flex-container .navy-bar {
    background-color: #072956;
    width: 20px; }

.cohorts .cohort1, .cohorts .cohort2 {
  display: flex;
  flex-direction: column; }
  .cohorts .cohort1 .title-container, .cohorts .cohort2 .title-container {
    width: 100%; }
    .cohorts .cohort1 .title-container h4, .cohorts .cohort2 .title-container h4 {
      width: 100%;
      margin: 10px 0px 0px 0px; }
  .cohorts .cohort1 .outer-profile-container, .cohorts .cohort2 .outer-profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    .cohorts .cohort1 .outer-profile-container .profile-container, .cohorts .cohort2 .outer-profile-container .profile-container {
      width: 48%;
      display: flex;
      justify-content: space-between;
      margin-top: 15px; }
      .cohorts .cohort1 .outer-profile-container .profile-container .width, .cohorts .cohort2 .outer-profile-container .profile-container .width, .cohorts .cohort1 .outer-profile-container .profile-container .rect-image-container, .cohorts .cohort2 .outer-profile-container .profile-container .rect-image-container, .cohorts .cohort1 .outer-profile-container .profile-container .text-container, .cohorts .cohort2 .outer-profile-container .profile-container .text-container {
        width: 48%; }
      .cohorts .cohort1 .outer-profile-container .profile-container .rect-image-container, .cohorts .cohort2 .outer-profile-container .profile-container .rect-image-container {
        height: 150px;
        background-color: #C4C4C4;
        display: flex;
        align-content: center;
        justify-content: center; }
        .cohorts .cohort1 .outer-profile-container .profile-container .rect-image-container .circle-image-container, .cohorts .cohort2 .outer-profile-container .profile-container .rect-image-container .circle-image-container {
          background-color: #072956;
          width: 150px;
          height: 150px;
          border-radius: 75px; }
      .cohorts .cohort1 .outer-profile-container .profile-container .text-container h5, .cohorts .cohort2 .outer-profile-container .profile-container .text-container h5 {
        margin-top: 5px; }
      .cohorts .cohort1 .outer-profile-container .profile-container .text-container p, .cohorts .cohort2 .outer-profile-container .profile-container .text-container p {
        font-size: 11px;
        font-weight: lighter; }
.cohorts .cohort2 .title-container {
  margin-top: 25px; }

/*# sourceMappingURL=convertstartup.css.map */
