@import url("https://fonts.googleapis.com/css?family=Rubik:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Cabin");
.background-grid {
  margin: 0 10% 0 10%;
  height: 100%;
  width: 80%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: -1; }

.gray-bar {
  height: 100%;
  width: 100px;
  background-color: rgba(196, 196, 196, 0.3);
  margin: 0px 15px 0px 15px;
  z-index: -1; }
  .gray-bar:last-child {
    margin-right: 0px; }
  .gray-bar:first-child {
    margin-left: 0px; }

.footer {
  width: 100vw;
  height: 120px;
  margin: 40px 0px 0px 0px;
  overflow: hidden;
  text-align: center;
  background-color: #527EDD;
  z-index: 3;
  line-height: 1.5; }
  .footer a, .footer a:link, .footer a:active, .footer a:visited, .footer a:hover {
    text-decoration: none; }
  .footer #navy {
    color: #072956; }
  .footer .links {
    display: flex;
    display: -webkit-flex;
    letter-spacing: .5px; }
    .footer .links a {
      flex: 1; }
  .footer .logo {
    margin: 30px 0px 0px 0px;
    color: #000000; }
    .footer .logo span {
      font-size: 26px; }
  .footer .love {
    font-size: 16px; }

@media (max-width: 500px) {
  .footer {
    height: 100px;
    margin: 30px 0px 0px 0px; }
    .footer .logo {
      margin: 30px 0px 0px 0px;
      color: #000000; }
      .footer .logo span {
        font-size: 17px; }
      .footer .logo .love {
        font-size: 12px; } }
.rubik, h1, .landing .outer-flex-container .title-container h1, h3, .program .text-container h3, .mentors .text-container h3, .resources .text-container h3, span, .button, .landing .outer-flex-container .title-container .apply, .program .text-container .button, .mentors .text-container .button, .resources .text-container .button, .landing .outer-flex-container .inner-nav-flex-container ul li a {
  font-family: 'Rubik', sans-serif;
  font-weight: bolder; }

.cabin, p {
  font-family: 'Cabin', sans-serif; }

.pink, h1, .landing .outer-flex-container .title-container h1 {
  color: #F2758F; }

.blue, .landing .outer-flex-container .title-container h2 {
  color: #527EDD; }

.navy, h3, .program .text-container h3, .mentors .text-container h3, .resources .text-container h3, .landing .outer-flex-container .inner-nav-flex-container ul li a {
  color: #072956; }

body {
  margin: 0;
  line-height: 1.2;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s; }

section {
  height: 100vh;
  width: 80%;
  margin: 0 10% 0 10%;
  position: relative; }

h1, .landing .outer-flex-container .title-container h1 {
  margin: 4px 0px 5px 0px;
  font-weight: bolder; }

h3, .program .text-container h3, .mentors .text-container h3, .resources .text-container h3 {
  font-size: 38px;
  font-weight: bold; }

p {
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: .2px; }

.button, .landing .outer-flex-container .title-container .apply, .program .text-container .button, .mentors .text-container .button, .resources .text-container .button {
  background-color: #072956;
  color: white;
  border: 0px;
  width: 200px;
  height: 45px;
  bottom: 0px;
  position: absolute;
  font-size: 13px;
  letter-spacing: .5px;
  display: flex;
  align-items: center;
  justify-content: center;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s; }

.button:hover, .landing .outer-flex-container .title-container .apply:hover, .program .text-container .button:hover, .mentors .text-container .button:hover, .resources .text-container .button:hover {
  background-color: #0D53AD; }

.image-container, .program .program-container, .mentors .program-container, .resources .program-container, .mentors .mentors1-container, .resources .resources-container {
  flex: 11;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 75%;
  width: 80%; }

.landing {
  width: 80%; }
  .landing .outer-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .landing .outer-flex-container .inner-nav-flex-container {
      margin-top: 30px;
      height: 70px;
      width: 100%;
      z-index: 1; }
      .landing .outer-flex-container .inner-nav-flex-container img {
        margin: 0 -3% 0 6%;
        width: 65px;
        height: auto; }
      .landing .outer-flex-container .inner-nav-flex-container ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 30px 0px 0px;
        align-items: center; }
        .landing .outer-flex-container .inner-nav-flex-container ul li {
          font-size: 18px;
          list-style: none;
          overflow: hidden;
          width: fit-content; }
          .landing .outer-flex-container .inner-nav-flex-container ul li a {
            text-decoration: none;
            font-weight: bold;
            transition: .3s;
            -o-transition: .3s;
            -ms-transition: .3s;
            -moz-transition: .3s;
            -webkit-transition: .3s; }
          .landing .outer-flex-container .inner-nav-flex-container ul li a:hover {
            color: #1271ED; }
        .landing .outer-flex-container .inner-nav-flex-container ul .box-header {
          height: -webkit-fill-available;
          width: 150px;
          background-color: #C4C4C4; }
    .landing .outer-flex-container .title-container {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%); }
      .landing .outer-flex-container .title-container h2 {
        font: 24px 'Montserrat', sans-serif;
        margin: 5px 0px 2px 0px; }
        .landing .outer-flex-container .title-container h2 span {
          color: black; }
      .landing .outer-flex-container .title-container h1 {
        font-size: 130px; }
      .landing .outer-flex-container .title-container .apply {
        margin: 0 0 -60px 0;
        font-size: 20px; }

.about {
  background-image: url("../assets/images/main-ucla.png");
  height: 65vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about .image-filter {
    background-color: rgba(0, 0, 0, 0.58);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1; }
  .about .text-container-outer {
    width: 80%;
    height: 70%;
    color: white;
    z-index: 2; }
    .about .text-container-outer .text-container-inner {
      margin: -50px 0px 0px 0px;
      width: 77%; }
      .about .text-container-outer .text-container-inner h3 {
        color: white; }

.program, .mentors, .resources {
  height: 65vh;
  display: flex;
  justify-content: space-between; }
  .program .margins, .mentors .margins, .resources .margins, .program .image-container, .mentors .image-container, .resources .image-container, .program .program-container, .mentors .program-container, .resources .program-container, .mentors .mentors1-container, .resources .resources-container, .program .text-container, .mentors .text-container, .resources .text-container {
    margin: 60px 0px 20px 0px; }
  .program .text-container, .mentors .text-container, .resources .text-container {
    flex: 9;
    position: relative; }
    .program .text-container h3, .mentors .text-container h3, .resources .text-container h3 {
      margin: 0px 0px 15px 0px; }
  .program .space, .mentors .space, .resources .space {
    flex: 1;
    position: relative; }
  .program .program-container, .mentors .program-container, .resources .program-container {
    background-image: url("../assets/images/main-program.jpg"); }

.mentors .mentors1-container {
  background-image: url("../assets/images/main-mentors.jpg"); }

.resources .resources-container {
  background-image: url("../assets/images/main-resource.jpg"); }

.vignette {
  position: relative;
  height: 100%;
  margin: 0px; }
  .vignette:after {
    -moz-box-shadow: inset 0 0 10em #666;
    -webkit-box-shadow: inset 0 0 10em #666;
    box-shadow: inset 0 0 10em #666;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: ""; }

@media (max-width: 1300px) {
  .landing h1, .landing .outer-flex-container .title-container h1 {
    font-size: 105px; }

  .program p, .mentors p, .resources p {
    font-size: 14px; } }
@media (max-width: 1100px) {
  .landing h1, .landing .outer-flex-container .title-container h1 {
    font-size: 75px; }

  .about h3, .about .program .text-container h3, .program .text-container .about h3, .about .mentors .text-container h3, .mentors .text-container .about h3, .about .resources .text-container h3, .resources .text-container .about h3 {
    font-size: 35px; }

  .program h3, .mentors h3, .resources h3, .program .text-container h3, .mentors .text-container h3, .resources .text-container h3 {
    font-size: 24px; }
  .program p, .mentors p, .resources p {
    font-size: 13px; } }
@media (max-width: 1020px) {
  .landing .box-header {
    width: 0px !important; }
  .landing a {
    font-size: 15px; }
  .landing .title-container h2 {
    font-size: 14px !important; }
  .landing .title-container h1, .landing .outer-flex-container .title-container h1 {
    font-size: 60px; }

  .about {
    height: 55vh; }
    .about .text-container-inner {
      width: 100% !important; }
      .about .text-container-inner h3 {
        font-size: 30px; }

  .program, .mentors, .resources {
    flex-direction: column;
    height: 85vh; }
    .program .margins, .mentors .margins, .resources .margins, .program .image-container, .mentors .image-container, .resources .image-container, .program .program-container, .mentors .program-container, .resources .program-container, .mentors .mentors1-container, .resources .resources-container, .program .text-container, .mentors .text-container, .resources .text-container {
      margin: 20px 0px 10px 0px; }
    .program h3, .mentors h3, .resources h3, .program .text-container h3, .mentors .text-container h3, .resources .text-container h3 {
      margin-bottom: 5px; }

  .mentors .mentors1-container {
    order: 3; }
  .mentors .space {
    order: 2; }
  .mentors .text-container {
    order: 1; }

  .button, .landing .outer-flex-container .title-container .apply, .program .text-container .button, .mentors .text-container .button, .resources .text-container .button {
    font-size: 12px; }

  .space {
    flex: 0 !important; } }
@media (max-width: 700px) {
  .landing h1, .landing .outer-flex-container .title-container h1 {
    font-size: 40px; }
  .landing a {
    font-size: 12px; }

  .about {
    height: 77vh; }
    .about h3, .about .program .text-container h3, .program .text-container .about h3, .about .mentors .text-container h3, .mentors .text-container .about h3, .about .resources .text-container h3, .resources .text-container .about h3 {
      font-size: 30px; }
    .about p {
      font-size: 14px; }

  .program h3, .mentors h3, .resources h3, .program .text-container h3, .mentors .text-container h3, .resources .text-container h3 {
    font-size: 24px; }
  .program p, .mentors p, .resources p {
    font-size: 13px; }

  .image-container, .program .program-container, .mentors .program-container, .resources .program-container, .mentors .mentors1-container, .resources .resources-container {
    height: 75%;
    width: 100%; } }
@media (max-width: 500px) {
  .landing .outer-flex-container .inner-nav-flex-container img {
    margin: 0 -3% 0 6%;
    width: 45px;
    height: auto; }
  .landing li a {
    font-size: 10px; }

  .about p {
    font-size: 12px; }

  .text-container .button, .text-container .landing .outer-flex-container .title-container .apply, .landing .outer-flex-container .title-container .text-container .apply, .program .text-container .button, .mentors .text-container .button, .resources .text-container .button {
    height: 30px;
    width: 150px;
    font-size: 10px; } }

/*# sourceMappingURL=main.css.map */
