
@media (min-width:641px)  { 
	.landing-page, .second-page, .third-page{
		height: 100vh;
	}
	h1{
		font-size: 28px;
	}
	h2{
		font-size: 35px;
	}
	h3{
		font-size: 25px;
		margin: 0px 0px 10px 0px;

	}
	h5{
		font-size: 65px;
	}
	p{
		font-size: 15px;
	}


	h4{
		font-size: 23px;
	}

	.wide, .rectangleLAHACKS, .rectangleBVEN{
		height: 30px !important;
		width: 140px !important;
	}
	.rectangleCL{
		width: 40px;
	}
	.rectangleBVEN{
		left: 67% !important;
		width: 150px !important;
	}
	.join-us-box{
		height: 50% !important;
	}
}
@media(min-width: 800px){
	h1{
		font-size: 32px;
	}
	h2{
		font-size: 40px;
	}
	h3{
		font-size: 30px;
		margin: 0px 0px 10px 0px;

	}
	p{
		font-size: 16px; 
	}
	h3{
		margin: 0px 0px 20px 0px;

	}
	#join-button{
		width: 150px;
		height: 35px;
		font-size: 10px;
	}



	h4{
		font-size: 28px;
	}
	.wide, .rectangleLAHACKS, .rectangleBVEN{
		height: 33px !important;
		width: 160px !important;
	}
	.rectangleCL{
		width: 50px;
	}
	.rectangleBVEN{
		left: 67% !important;
		width: 180px !important;
	}
	.join-us-box{
		height: 60% !important;
	}
}

@media (min-width:961px)  { 
	.landing-page, .second-page, .third-page{
		height: 100vh;
	}
	h1{
		font-size: 32px;
	}
	h2{
		font-size: 55px;
	}
	h3{
		font-size: 35px;
		margin: 0px 0px 25px 0px;

	}
	p{
		font-size: 18px;
	}
	.third-page .rectangleBVEN{
		left: 72% !important;
	}
	#join-button{
		width: 200px;
		height: 40px;
		font-size: 12px;
	}

	h4{
		font-size: 30px;
	}
	.wide, .rectangleLAHACKS, .rectangleBVEN{
		height: 36px !important;
		width: 170px !important;
	}
	.rectangleCL{
		width: 50px;
	}
	.rectangleBVEN{
		left: 67% !important;
		width: 210px !important;
	}
	.join-us-box{
		height: 60% !important;
	}
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }