.background-grid {
  margin: 0 10% 0 10%;
  height: 100%;
  width: 80%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: -1; }

.gray-bar {
  height: 100%;
  width: 100px;
  background-color: rgba(196, 196, 196, 0.3);
  margin: 0px 15px 0px 15px;
  z-index: -1; }
  .gray-bar:last-child {
    margin-right: 0px; }
  .gray-bar:first-child {
    margin-left: 0px; }

.footer {
  width: 100vw;
  height: 120px;
  margin: 40px 0px 0px 0px;
  overflow: hidden;
  text-align: center;
  background-color: #527EDD;
  z-index: 3;
  line-height: 1.5; }
  .footer #navy {
    color: #072956; }
  .footer .links {
    display: flex;
    display: -webkit-flex;
    letter-spacing: .5px; }
    .footer .links a {
      flex: 1; }
  .footer .logo {
    margin: 30px 0px 0px 0px;
    color: #000000; }
    .footer .logo span {
      font-size: 26px; }
  .footer .love {
    font-size: 16px; }

@media (max-width: 500px) {
  .footer {
    height: 100px;
    margin: 30px 0px 0px 0px; }
    .footer .logo {
      margin: 30px 0px 0px 0px;
      color: #000000; }
      .footer .logo span {
        font-size: 17px; }
      .footer .logo .love {
        font-size: 12px; } }
.rubik, h1, .landing .outer-flex-container .title-container h1, .landing-startups .outer-flex-container .title h1, h3, .program .text-container h3, .mentors .text-container h3, .button, .program .text-container .button, .mentors .text-container .button, .landing .outer-flex-container .inner-nav-flex-container ul li a, h4, .landing-startups .outer-flex-container .bottom-flex-container .text-container h4, .cohorts .cohort1 .title-container h4, .landing-startups .outer-flex-container .inner-nav-flex-container ul li a, .landing-startups .outer-flex-container .bottom-flex-container .text-container {
  font-family: 'Rubik', sans-serif; }

.cabin, p {
  font-family: 'Cabin', sans-serif; }

.pink, h1, .landing .outer-flex-container .title-container h1, .landing-startups .outer-flex-container .title h1 {
  color: #F2758F; }

.blue, .landing .outer-flex-container .title-container h2 {
  color: #527EDD; }

.navy, h3, .program .text-container h3, .mentors .text-container h3, .landing .outer-flex-container .inner-nav-flex-container ul li a, h4, .landing-startups .outer-flex-container .bottom-flex-container .text-container h4, .cohorts .cohort1 .title-container h4, h5, .cohorts .cohort1 .outer-profile-container .profile-container .text-container h5, .landing-startups .outer-flex-container .inner-nav-flex-container ul li a, .landing-startups .outer-flex-container .bottom-flex-container .text-container h2 {
  color: #072956; }

body {
  margin: 0;
  line-height: 1.2;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s; }

section {
  height: 100vh;
  width: 80%;
  margin: 0 10% 0 10%;
  position: relative; }

h1, .landing .outer-flex-container .title-container h1, .landing-startups .outer-flex-container .title h1 {
  margin: 4px 0px 5px 0px;
  font-weight: bold; }

h3, .program .text-container h3, .mentors .text-container h3 {
  font-size: 38px;
  font-weight: bold; }

p {
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: .2px; }

.button, .program .text-container .button, .mentors .text-container .button {
  background-color: #072956;
  color: white;
  border: 0px;
  width: 200px;
  height: 45px;
  bottom: 0px;
  position: absolute;
  font-size: 13px;
  letter-spacing: .5px;
  display: flex;
  align-items: center;
  justify-content: center;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s; }

.button:hover, .program .text-container .button:hover, .mentors .text-container .button:hover {
  background-color: #0D53AD; }

.image-container, .program .program-container, .mentors .program-container, .mentors .mentors1-container {
  flex: 11;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 70%;
  width: 80%; }

.landing {
  width: 80%; }
  .landing .outer-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .landing .outer-flex-container .inner-nav-flex-container {
      margin-top: 30px;
      height: 70px;
      width: 100%;
      z-index: 1; }
      .landing .outer-flex-container .inner-nav-flex-container ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 30px 0px 0px;
        align-items: center; }
        .landing .outer-flex-container .inner-nav-flex-container ul li {
          font-size: 18px;
          list-style: none;
          overflow: hidden;
          width: fit-content; }
          .landing .outer-flex-container .inner-nav-flex-container ul li a {
            text-decoration: none;
            font-weight: bold;
            transition: .3s;
            -o-transition: .3s;
            -ms-transition: .3s;
            -moz-transition: .3s;
            -webkit-transition: .3s; }
          .landing .outer-flex-container .inner-nav-flex-container ul li a:hover {
            color: #1271ED; }
        .landing .outer-flex-container .inner-nav-flex-container ul .box-header {
          height: -webkit-fill-available;
          width: 150px;
          background-color: #C4C4C4; }
    .landing .outer-flex-container .title-container {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%); }
      .landing .outer-flex-container .title-container h2 {
        font: 24px 'Montserrat', sans-serif;
        margin: 5px 0px 2px 0px; }
        .landing .outer-flex-container .title-container h2 span {
          color: black; }
      .landing .outer-flex-container .title-container h1 {
        font-size: 130px; }

.about {
  background-image: url("../assets/images/main-ucla.png");
  height: 60vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about .image-filter {
    background-color: rgba(0, 0, 0, 0.58);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1; }
  .about .text-container-outer {
    width: 80%;
    height: 70%;
    color: white;
    z-index: 2; }
    .about .text-container-outer .text-container-inner {
      margin: -50px 0px 0px 0px;
      width: 77%; }
      .about .text-container-outer .text-container-inner h3 {
        color: white; }

.program, .mentors {
  height: 65vh;
  display: flex;
  justify-content: space-between; }
  .program .margins, .mentors .margins, .program .image-container, .mentors .image-container, .program .program-container, .mentors .program-container, .mentors .mentors1-container, .program .text-container, .mentors .text-container {
    margin: 60px 0px 20px 0px; }
  .program .text-container, .mentors .text-container {
    flex: 9;
    position: relative; }
    .program .text-container h3, .mentors .text-container h3 {
      margin: 0px 0px 15px 0px; }
  .program .space, .mentors .space {
    flex: 1;
    position: relative; }
  .program .program-container, .mentors .program-container {
    background-image: url("../assets/images/main-program.jpg"); }

.mentors .mentors1-container {
  background-image: url("../assets/images/main-mentors.jpg"); }

.vignette {
  position: relative;
  height: 100%;
  margin: 0px; }
  .vignette:after {
    -moz-box-shadow: inset 0 0 10em #666;
    -webkit-box-shadow: inset 0 0 10em #666;
    box-shadow: inset 0 0 10em #666;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: ""; }

@media (max-width: 1300px) {
  .landing h1, .landing .outer-flex-container .title-container h1, .landing .landing-startups .outer-flex-container .title h1, .landing-startups .outer-flex-container .title .landing h1 {
    font-size: 105px; }

  .program p, .mentors p {
    font-size: 12px; } }
@media (max-width: 1100px) {
  .landing h1, .landing .outer-flex-container .title-container h1, .landing .landing-startups .outer-flex-container .title h1, .landing-startups .outer-flex-container .title .landing h1 {
    font-size: 75px; }

  .about h3, .about .program .text-container h3, .program .text-container .about h3, .about .mentors .text-container h3, .mentors .text-container .about h3 {
    font-size: 30px; }
  .about p {
    font-size: 11px; }

  .program h3, .mentors h3, .program .text-container h3, .mentors .text-container h3 {
    font-size: 24px; }
  .program p, .mentors p {
    font-size: 12px; } }
@media (max-width: 1020px) {
  .landing .box-header {
    width: 0px !important; }
  .landing a {
    font-size: 15px; }
  .landing .title-container h2 {
    font-size: 14px !important; }
  .landing .title-container h1, .landing .outer-flex-container .title-container h1, .landing .title-container .landing-startups .outer-flex-container .title h1, .landing-startups .outer-flex-container .title .landing .title-container h1 {
    font-size: 60px; }

  .about {
    height: 45vh; }
    .about .text-container-inner {
      width: 100% !important; }
      .about .text-container-inner h3 {
        font-size: 20px; }
      .about .text-container-inner p {
        font-size: 12px; }

  .program, .mentors {
    flex-direction: column;
    height: 85vh; }
    .program .margins, .mentors .margins, .program .image-container, .mentors .image-container, .program .program-container, .mentors .program-container, .mentors .mentors1-container, .program .text-container, .mentors .text-container {
      margin: 20px 0px 10px 0px; }
    .program h3, .mentors h3, .program .text-container h3, .mentors .text-container h3 {
      margin-bottom: 5px; }

  .mentors .mentors1-container {
    order: 3; }
  .mentors .space {
    order: 2; }
  .mentors .text-container {
    order: 1; }

  .button, .program .text-container .button, .mentors .text-container .button {
    font-size: 12px; }

  .space {
    flex: 0 !important; } }
@media (max-width: 700px) {
  .landing h1, .landing .outer-flex-container .title-container h1, .landing .landing-startups .outer-flex-container .title h1, .landing-startups .outer-flex-container .title .landing h1 {
    font-size: 40px; }
  .landing a {
    font-size: 12px; }

  .about h3, .about .program .text-container h3, .program .text-container .about h3, .about .mentors .text-container h3, .mentors .text-container .about h3 {
    font-size: 30px; }
  .about p {
    font-size: 11px; }

  .program h3, .mentors h3, .program .text-container h3, .mentors .text-container h3 {
    font-size: 24px; }
  .program p, .mentors p {
    font-size: 12px; } }
h4, .landing-startups .outer-flex-container .bottom-flex-container .text-container h4, .cohorts .cohort1 .title-container h4 {
  font-size: 39px; }

h5, .cohorts .cohort1 .outer-profile-container .profile-container .text-container h5 {
  font-size: 16px;
  margin-bottom: 10px; }

.landing-startups .outer-flex-container .inner-nav-flex-container {
  margin-top: 30px;
  height: 70px;
  width: 100%;
  z-index: 1; }
  .landing-startups .outer-flex-container .inner-nav-flex-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px 0px 0px;
    align-items: center; }
    .landing-startups .outer-flex-container .inner-nav-flex-container ul li {
      font-size: 18px;
      list-style: none;
      overflow: hidden;
      width: fit-content; }
      .landing-startups .outer-flex-container .inner-nav-flex-container ul li a {
        text-decoration: none;
        font-weight: bold;
        transition: .3s;
        -o-transition: .3s;
        -ms-transition: .3s;
        -moz-transition: .3s;
        -webkit-transition: .3s; }
      .landing-startups .outer-flex-container .inner-nav-flex-container ul li a:hover {
        color: #1271ED; }
    .landing-startups .outer-flex-container .inner-nav-flex-container ul .box-header {
      height: -webkit-fill-available;
      width: 150px;
      background-color: #C4C4C4; }
.landing-startups .outer-flex-container .title {
  flex: 2; }
  .landing-startups .outer-flex-container .title h1 {
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 40px; }
.landing-startups .outer-flex-container .bottom-flex-container {
  flex: 6;
  display: flex;
  justify-content: space-between; }
  .landing-startups .outer-flex-container .bottom-flex-container .text-container {
    flex: 5;
    margin-right: 15px; }
    .landing-startups .outer-flex-container .bottom-flex-container .text-container h2 {
      font-size: 19px;
      margin-bottom: 0px; }
    .landing-startups .outer-flex-container .bottom-flex-container .text-container h4 {
      margin-top: 3px;
      margin-bottom: 30px; }
  .landing-startups .outer-flex-container .bottom-flex-container .image-container, .landing-startups .outer-flex-container .bottom-flex-container .program .program-container, .program .landing-startups .outer-flex-container .bottom-flex-container .program-container, .landing-startups .outer-flex-container .bottom-flex-container .mentors .program-container, .mentors .landing-startups .outer-flex-container .bottom-flex-container .program-container, .landing-startups .outer-flex-container .bottom-flex-container .mentors .mentors1-container, .mentors .landing-startups .outer-flex-container .bottom-flex-container .mentors1-container {
    flex: 6;
    margin: 10px 0 10px 0;
    background-image: url("../assets/images/playfull-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .landing-startups .outer-flex-container .bottom-flex-container .image-container img, .landing-startups .outer-flex-container .bottom-flex-container .program .program-container img, .program .landing-startups .outer-flex-container .bottom-flex-container .program-container img, .landing-startups .outer-flex-container .bottom-flex-container .mentors .program-container img, .mentors .landing-startups .outer-flex-container .bottom-flex-container .program-container img, .landing-startups .outer-flex-container .bottom-flex-container .mentors .mentors1-container img, .mentors .landing-startups .outer-flex-container .bottom-flex-container .mentors1-container img {
      width: 200px;
      height: auto; }
  .landing-startups .outer-flex-container .bottom-flex-container .navy-bar {
    background-color: #072956;
    width: 20px;
    margin-right: 10px; }

.cohorts {
  margin-top: 2%;
  height: auto; }
  .cohorts .cohort1 {
    display: flex;
    flex-direction: column; }
    .cohorts .cohort1 .title-container {
      width: 100%; }
      .cohorts .cohort1 .title-container .landing-startups .outer-flex-container .bottom-flex-container .text-container h4, .landing-startups .outer-flex-container .bottom-flex-container .text-container .cohorts .cohort1 .title-container h4, .cohorts .cohort1 .title-container h4 {
        width: 100%;
        margin: 10px 0px 0px 0px; }
    .cohorts .cohort1 .outer-profile-container .profile-container {
      width: 100%;
      display: flex;
      justify-content: left;
      margin-top: 15px; }
      .cohorts .cohort1 .outer-profile-container .profile-container .rect-image-container {
        margin: 0px 40px 0px 0px;
        width: 160px;
        text-align: center;
        vertical-align: middle; }
        .cohorts .cohort1 .outer-profile-container .profile-container .rect-image-container img {
          width: 120px;
          height: auto; }
      .cohorts .cohort1 .outer-profile-container .profile-container .text-container {
        width: 70%;
        max-width: 850px; }
        .cohorts .cohort1 .outer-profile-container .profile-container .text-container h5 {
          margin-top: 5px; }
        .cohorts .cohort1 .outer-profile-container .profile-container .text-container p {
          font-size: 13px;
          font-weight: lighter; }

@media (max-width: 1200px) {
  .landing-startups h1, .landing-startups .landing .outer-flex-container .title-container h1, .landing .outer-flex-container .title-container .landing-startups h1, .landing-startups .outer-flex-container .title h1 {
    font-size: 105px; }

  .cohorts .cohort1 .outer-profile-container .profile-container .text-container p {
    font-size: 14px; } }
@media (max-width: 900px) {
  .landing-startups .title h1, .landing-startups .title .landing .outer-flex-container .title-container h1, .landing .outer-flex-container .title-container .landing-startups .title h1, .landing-startups .outer-flex-container .title h1 {
    font-size: 70px; }
  .landing-startups .bottom-flex-container .text-container h4, .landing-startups .outer-flex-container .bottom-flex-container .text-container h4 {
    margin-bottom: 15px;
    font-size: 30px; }
  .landing-startups .bottom-flex-container .text-container p {
    font-size: 11px; } }
@media (max-width: 700px) {
  .landing-startups {
    height: 150vh; }
    .landing-startups .box-header {
      width: 0px !important; }
    .landing-startups a {
      font-size: 12px; }
    .landing-startups .title h1, .landing-startups .title .landing .outer-flex-container .title-container h1, .landing .outer-flex-container .title-container .landing-startups .title h1, .landing-startups .outer-flex-container .title h1 {
      font-size: 28px; }
    .landing-startups .bottom-flex-container {
      flex-direction: column;
      flex: 8 !important; }
      .landing-startups .bottom-flex-container .text-container {
        overflow: hidden; }
        .landing-startups .bottom-flex-container .text-container h2 {
          font-size: 14px; }
        .landing-startups .bottom-flex-container .text-container h4, .landing-startups .outer-flex-container .bottom-flex-container .text-container h4 {
          font-size: 25px;
          margin-bottom: 10px; }
        .landing-startups .bottom-flex-container .text-container p {
          font-size: 12px; }
        .landing-startups .bottom-flex-container .text-container h5, .landing-startups .bottom-flex-container .cohorts .cohort1 .outer-profile-container .profile-container .text-container h5, .cohorts .cohort1 .outer-profile-container .profile-container .landing-startups .bottom-flex-container .text-container h5 {
          margin-top: 10px; }
      .landing-startups .bottom-flex-container .navy-bar {
        width: 0px; }
      .landing-startups .bottom-flex-container .image-container, .landing-startups .bottom-flex-container .program .program-container, .program .landing-startups .bottom-flex-container .program-container, .landing-startups .bottom-flex-container .mentors .program-container, .mentors .landing-startups .bottom-flex-container .program-container, .landing-startups .bottom-flex-container .mentors .mentors1-container, .mentors .landing-startups .bottom-flex-container .mentors1-container {
        flex: 3 !important; }

  .cohorts {
    height: auto; }
    .cohorts .cohort1 .title-container .landing-startups .outer-flex-container .bottom-flex-container .text-container h4, .landing-startups .outer-flex-container .bottom-flex-container .text-container .cohorts .cohort1 .title-container h4, .cohorts .cohort1 .title-container h4 {
      font-size: 45px; }
    .cohorts .outer-profile-container .profile-container {
      width: 100% !important;
      flex-direction: column; }
      .cohorts .outer-profile-container .profile-container .text-container {
        width: 100% !important; }
      .cohorts .outer-profile-container .profile-container .rect-image-container {
        width: 100% !important; } }

/*# sourceMappingURL=startup.css.map */
