/*@media (min-width:950px) {  big landscape tablets, laptops, and desktops  
*/
html, body {
  width: 100%;
  margin: 0px;
}
body {
  background-color: #072956;
  margin: 0 0 0 0;
}
h1, h2, p {
  color: #f5f1ed;
  font-family: 'Montserrat', Helvetica;
  margin: 0 0 0 0;
}
h1 {
  font-size: 2em;
}
h2 {
  color: #527edd;
  font-weight: bold;
  font-size: 55px;
}

h3{
  color: #072956;
  font-size: 35px;
  font-family: 'Montserrat', Helvetica;
  margin: 20px 0 20px 0;
}

h4{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 120%;
  margin: 0 0 0 0;
  color: #F5F1ED;

/*  align the text
*/
  top: -22%;
  left: 10px;
  position: relative;

}

h5{
/* JOIN US. */

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #072956;
  margin: 0 0 0 0;


}


p {
  font-family: 'Lato', Helvetica;
  color: #072956;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  margin: 0 0 20px 0;
}
a {
  text-decoration: none;
  color: #f5f1ed;
}
a:hover {
  color: #527edd;
}


/*-----------------LANDING PAGE------------------*/

#join-button{
  background-color: #527edd;
  border: #527edd solid 1px;
  width: 200px;
  height: 55px;
  margin: 12px 0 0 0;
  color: white;
  font-size: 14px;
  font-family: 'Montserrat', Helvetica;
  box-shadow: 2px 2px 2px black;
}


.header-container{
  top: 60%;
  position: relative;
  left: 5%;
  width: 80%;
  height: auto;
  margin: 0 0 0 0;
}

.landing-page{
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.landing-page .left-align{
  width: 75%;
  height: inherit;
  float: left;
  background-color: #072956;
  margin: 0 0 0 0;
  position: relative;
}

.landing-page .right-align{
  width: 25%;
  height: inherit;
  float: left;
  background-color: lightgray;
  margin: 0 0 0 0;
  position: relative;
}


/*-----------------SECOND PAGE------------------*/

.second-page{
  background-color: lightgray;
  height: 100vh;
  position:relative;
  overflow: hidden;
}

.second-page .left-align{
  width: 20%;
  height: 100%;
  float: left;
  background-color: lightgray;
  margin: 0 0 0 0;
  position: relative;
}

.second-page .right-align{
  width: 80%;
  height: 70%;
  float: left;
  background-color: #f5f1ed;
  margin: 0 0 0 0;
  position: relative;
}

.second-page .right-align .text-box{
  width: 60%;
  height: 60%;
  top: 40%;
  transform: translateY(-50%);
  left: 10%;
  position: relative;
}


/*-----------------THIRD PAGE------------------*/

.third-page{
  height: 100vh;
  background-color: lightgray;
  position: relative;
  overflow: hidden;
}

.third-page .rectangle-container{
  width: 100vw;
  height: 40px;
  padding: 5px 0 0 0;
  top: 5%;
  left: 3%;
  position: relative;
}

.third-page .rectangleCL{
  width: 110px;
  height: 54px;
  position: relative;
  background-color: #F2758F;
  margin: 0 0 0 0;
}

.wide{
  width: 180px !important;
}


.third-page .rectangleLAHACKS{
  width: 180px;
  height: 40px;
  position: relative;
  background-color: #072956;
  margin: 0 0 0 0;
  float: left;
  left: 50%;
  transform: translateX(-50%);
}

.third-page .rectangleBVEN{
  width: 210px;
  height: 40px;
  position: relative;
  background-color: #527edd;
  margin: 0 0 0 0;
  float: left;
  left: 70%;
  transform: translateX(-50%);
}


.third-page .join-us-box{
  width: 50%;
  height: 60%;
  left: 50%;
  margin: 0 0 0 0;
  transform: translateX(-50%);
  background-color: #f5f1ed;
  position: absolute;
  text-align: center;
  bottom: 0;
  padding-top: 20px;
}


.footer{
  height: 150px;
  overflow: hidden;
}
